body {
    font-family: "Georgia";
    background-color: white;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica";
    color: black;
}

h1 {
    margin: 12px 0 16px;
    font-size: 22px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: rgb(175, 175, 175);
}

a:hover, a:active, a.active {
    color: black;
}

.main {
    max-width: 600px;
    width: auto;
    padding: 14px;
    margin-left: auto;
    margin-right: auto;
}

.top-bar {
    text-transform: lowercase;
    padding: 16px 0 16px 0;
    border-bottom: 1px dotted black;
    margin: 0 0 8px;
}

.top-bar a.name {
    text-decoration: none;
}

.top-bar a.name:link {
    color: rgb(100, 100, 90);
}

.top-bar a.name:hover {
    color: black;
}

ul {
    list-style-type: circle;
}

li {
    margin-top: 16px;
    margin-bottom: 16px;
}

.footer {
    border-top: 1px dotted rgb(100, 100, 90);
    color: rgb(175, 175, 175);
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 6px 0;
    font-size: 10pt;
}

.date {
    margin-right: auto;
    margin-left: 0px;
    display: inline-block;
    text-align: left;
}

.copyright {
    display: block;
    float: right;
    margin-left: auto;
    margin-right: 0px;
    text-align: right;
}
